@media (prefers-color-scheme: dark) {
  body {
    background: #1f2023;
    color: #ffffff;
  }
}
table {
  width: 60%; /* Ustawienie szerokości tabeli */
  min-width: auto;
  margin: 0 auto; /* Wyśrodkowanie tabeli */
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px; /* Zwiększenie odstępu wewnątrz komórek */
}

tr:nth-child(even) {
  background-color: rgba(43, 45, 48, 0.5);
}

th {
  background-color: #000000;
  color: white;
}

button {
  margin-right: 25px;
}